# Logs
logs
*.log
npm-debug.log*

# Build output
dist/
build/
package/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
.nyc_output
lib-cov

# Grunt intermediate storage
.grunt

# node-waf
.lock-wscript

# Compiled binary addons
build/Release

# Dependencies
node_modules
jspm_packages

# npm
.npm
.node_repl_history

# OS files
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/
*.swp
*.swo
